{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% set descriptionPage = "Formations continues des professionnels de l’immobilier (Alur) pour renouveler vos cartes professionnelles d’agent immobilier et attestations d’habilitation d’agent commercial." %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formation/entreprise.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formation/formation.css') }}">
{% endblock %}

{% block body %}
<div class="bg-image-entete" style="background-image: url('{{ asset('img/formation/entreprise/' ~ infoFormation.backgroundImgFormation) }}')">
    {# <div class="pt-5">
        <div class="py-5 d-flex justify-content-center">
            <div class="text-center p-3 rounded-pill" style="background-color: {{ infoFormation.colorFormation }}">
                <h1>{{ infoFormation.titrePage }}</h1>
            </div>
        </div>
    </div> #}

    {% include 'formation/formation.html.twig' %}

    {% include 'formation/contactBasSimple.html.twig' %}
</div>
{% endblock %}