{% extends 'base.html.twig' %}

{% block title %}
    Formations continue des professionnels de l'immobilier
    {{ parent() }}
{% endblock %}

{% set descriptionPage = "Formations continues des professionnels de l’immobilier (Alur) pour renouveler vos cartes professionnelles d’agent immobilier et attestations d’habilitation d’agent commercial." %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formation/immobilier.css') }}" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{{ asset('css/formation/formation.css') }}">
{% endblock %}

{% block body %}
<div class="bg-image-entete" style="background-image: url('{{ asset('img/formation/immobilier/' ~ infoFormation.backgroundImgFormation) }}')">

    <div class="pt-5">
        <div class="py-5 d-flex justify-content-center">
            <div class="text-center p-3 rounded-pill" style="background-color: {{ infoFormation.colorFormation }}">
                <h1>{{ infoFormation.titrePage }}</h1>
            </div>
        </div>
    </div>

    {% include 'formation/formation.html.twig' %}

    <div>
        {% include 'formation/lieu.html.twig' %}
    </div>
    <div class="container-lg ">
        <div class="px-3">
            Le programme de formation est libre dès lors qu'il est en lien direct avec l'activité professionnelle exercée.
            La seule exigence de ce programme étant que durant les trois années consécutives d'exercice, la formation continue inclut au moins deux heures portant sur la non-discrimination à l'accès au logement et au moins deux heures portant sur les autres règles déontologiques.
        </div>
    </div>
    {% include 'formation/contactBasSimple.html.twig' %}

</div>
{% endblock %}