{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Formations continue des professionnels de l'immobilier {% endblock %}

{% block stylesheets %} {{ parent() }} <link rel="stylesheet" href="{{ asset('css/formation/immobilier.css') }}"> {% endblock %}

{% block body %}

    <div class="image_top">
        <div class="image_top_titre js-scroll slide-right">
            <!--Formation continue <br> des professionnels de l'immobilier-->
            <img srcset="{{ asset('img/png/ProPerform202103-IMMO-Titre.png') }}" src="{{ asset('img/png/ProPerform202103-IMMO-Titre.png') }}" alt="titre_immo">
        </div>
        <div class="image_top_texte js-scroll fade-in-bottom">
            <div class="image_top_texte_picto"></div>
            Depuis la Loi Alur du 24 mars 2014, les professionnels de l'immobilier sont tenus d'une obligation de formation continue, dont le respect est vérifié par les CCI à chaque renouvellement de la carte professionnelle d'agent immobilier quelle qu'en soit la mention (Carte Transactions sur immeubles et fonds de commerce, Gestion immobilière...). <br>
            La durée de formation imposée pour tous les professionnels de l'immobilier est de 14 heures sur une année ou 42 heures au cours de trois années consécutives d'exercice.
        </div>
    </div>
    <div class="stages">
        <div class="stages_presentation js-scroll fade-in-bottom">
            <strong>Vous pouvez composer votre formation librement selon vos besoins et votre domaine d'activité en choisissant une ou plusieurs thématiques suivantes d'une durée de 7h chacune. </strong>
        </div>
        <div class="box_formation_propose">
            {% for module in modulesFormation %}
                <div class="formation_propose js-scroll fade-in-bottom">
                    <div class="formation_propose_header flexOne">
                        {% if module.petittitremoduledesc is not null %}
                            <div class="formation_propose_header_titre_1">
                                {{ module.petittitremoduledesc | raw }}
                            </div>
                        {% endif %}
                        <div class="formation_propose_header_titre_2">
                            {{ module.grandtitremoduledesc | raw }}
                        </div>
                        <div class="alias">{{ module.aliasmoduledesc | raw }}</div>
                    </div>
                    <div class="formation_propose_body flexEight">
                        <div class="flexThree">
                            <div class="formation_propose_titre_section">
                                DURÉE
                            </div>
                            <div class="formation_propose_duree">
                                <strong>{{ module.dureemoduledesc | raw }}</strong>
                            </div>
                        </div>
                        <div class="flexEight">
                            <div class="formation_propose_titre_section">
                                OBJECTIFS
                            </div>
                            <div class="formation_propose_contenu">
                                {{ module.objectifsmoduledesc | raw }}
                            </div>
                        </div>
                        <div class="formation_propose_informations">
                            <a href="{{ path('module', {'nomFormation': 'immobilier', 'nomModule': module.nommoduledesc}) }}">Plus d'informations</a>
                        </div>
                    </div>
                    <div class="formation_propose_footer flexOne">
                        <div class="formation_propose_footer_prix">
                            <div class="formation_propose_triangle"></div>
                            <div class="formation_propose_prix">
                                <strong>{{ module.prixmoduledesc | raw }}</strong> €*
                            </div>
                            <div class="formation_propose_inscription">
                                <a href=/inscription_formulaire>JE M'INSCRIS</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="lieu js-scroll fade-in-bottom">
        <div class="lieu_titre">
            LIEUX
        </div>
        <div class="lieu_emplacement">
            3 POSSIBILITÉS POUR CES FORMATONS :
            <ul>
                <li>dans nos locaux à Nîmes et Montpellier,</li>
                <li>dans vos locaux,</li>
                <li>en classe virtuelle.</li>
            </ul>
        </div>
    </div>
    <div class="bas_de_page js-scroll fade-in-bottom">
        <p>
            Le programme de formation est libre dès lors qu'il est en lien direct avec l'activité professionnelle exercée. <br>
            La seule exigence de ce programme étant que durant les trois années consécutives d'exercice, la formation continue inclut au moins deux heures portant sur la non-discrimination à l'accès au logement et au moins deux heures portant sur les autres règles déontologiques.
        </p>
    </div>
    <div class="contact_organisme js-scroll fade-in-bottom">
        <div class="flexOne bot_contact">
            <div>
                CONTACT
            </div>
            <div>
                Pour toute demande de renseignements, n'hésitez pas à <a href="/contact"> <strong><u id="page_contact">nous contacter</u></strong></a>
            </div>
        </div>
    </div>
{% endblock %}