{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% set descriptionPage = "Formation de référence pour créer et gérer sa micro-entreprise rapidement. Connaître le fonctionnement de l’auto-entreprise (fiscal et social) et élaborer son projet de création." %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formation/microEntreprise.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formation/formation.css') }}">
{% endblock %}

{% block body %}

<div class="bg-image-entete" style="background-image: url('{{ asset('img/formation/autoentrepreneur/' ~ infoFormation.backgroundImgFormation) }}')">

    {# <div class="pt-5">
        <div class="py-5 d-flex justify-content-center">
            <div class="text-center p-3 rounded-pill" style="background-color: {{ infoFormation.colorFormation }}">
                <h1>{{ infoFormation.titrePage }}</h1>
            </div>
        </div>
    </div> #}

    {% include 'formation/formation.html.twig' %}

    {%  include 'formation/contactBasSimple.html.twig' %}

</div>
{% endblock %}
