{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% set descriptionPage = "Formation de référence pour créer et gérer sa micro-entreprise rapidement. Connaître le fonctionnement de l’auto-entreprise (fiscal et social) et élaborer son projet de création." %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formation/microEntreprise.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formation/formation.css') }}">
{% endblock %}

{% block body %}

<div class="bg-image-entete" style="background-image: url('{{ asset('img/formation/micro_entreprise/me_frise.png') }}')">

    <div class="pt-5">
        <div class="py-5 d-flex justify-content-center">
            <div class="text-center p-3 rounded-pill" style="background-color: var(--me-1-color)">
                <h1>Formations des agents immobiliers (Loi ALUR)</h1>
            </div>
        </div>
    </div>
    <div class="container-lg ">
        <div class="w-100 d-flex row row-cols-1 g-4 my-2 m-auto">
            <div class="col-12">
                <div class="card h-100 border-2 rounded-10" style="border-color: var(--me-1-color)">
                    <div class="card-body">
                        <div class="card-text d-flex flex-row align-items-center" >
                            <div>
                                <p class="text-center">
                                    <strong>Vous avez pour projet de créer une micro-entreprise ? Vous êtes déjà installé(e) et rencontrez quelques difficultés ?</strong>
                                </p>
                                <p>
                                    Cette formation complète vous permet de maîtriser les différents statuts envisageables, les obligations administratives, les différentes aides financières, les cotisations sociales et les charges fiscales d'un auto-entrepreneur.
                                </p>
                                <p>
                                    L'ensemble des notions spécifiques et des démarches administratives relatives à la création d'une micro-entreprise n'auront plus de secret pour vous.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mt-5 pt-4 h5 text-center">
            <p>
                <strong>Nous vous proposons ainsi une formule : </strong>
            </p>
        </div>
    </div>
    <div>
        {% include 'formation/moduleDescription.html.twig' %}
    </div>
    <div>
        {%  include 'formation/contactBasSimple.html.twig' %}
    </div>
{% endblock %}
