{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% set descriptionPage = "Formations continues des professionnels de l’immobilier (Alur) pour renouveler vos cartes professionnelles d’agent immobilier et attestations d’habilitation d’agent commercial." %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="">
{% endblock %}

{% block body %}

    <div style="width: 70%; margin: auto; ">
        <div style="display: flex; justify-content: center; font-size: 1.3vw">
            <div style="width: 20%; color: white; text-align: center; margin: 2% auto 1%">
                {# {{ moduleFormation.getSectionmodulecomplet() | raw }} #}
            </div>
        </div>
        <div class="titreCouleur" style="text-align: center; font-size: 1.4vw;">
            <strong>{{ moduleFormation.nomModule | raw }}</strong>
        </div>
        <div class="espace">
            <div class="titreCouleur">
                Prérequis :
            </div>
            <div>
                {{ moduleFormation.prerequismodule| raw }}
            </div>
        </div>
        <div class="espace">
            <div class="titreCouleur">
                Public visé :
            </div>
            <div>
                {{ moduleFormation.publicmodule | raw }}
            </div>
        </div>
        <div class="espace">
            <div class="titreCouleur">
                La durée de la formation :
            </div>
            <div>
                {{ moduleFormation.dureemodule | raw }}
            </div>
        </div>
        <div class="espace">
            <div class="titreCouleur">
                Délais d'accès :
            </div>
            <div>
                {{ moduleFormation.delaismodule | raw }}
            </div>
        </div>
        <div class="espace">
            <div class="titreCouleur">
                Lieux de formations :
            </div>
            <div>
                {{ moduleFormation.lieuDetailsModule | raw }}
            </div>
        </div>
        <div class="espace">
            <div class="titreCouleur">
                Les objectifs :
            </div>
            <div>
                {{ moduleFormation.objectifPedagoModule | raw }}
            </div>
        </div>
        <div class="espace">
            <div class="titreCouleur">
                Modalités pédagogiques :
            </div>
            <div>
                {{ moduleFormation.modaliteModule | raw }}
            </div>
        </div>
        <div class="espace" style=" padding: 1%">
            <div class="titreCouleur" style="text-align: center">
                Programme
            </div>
            <div>
                {{ moduleFormation.programmeModule | raw }}
            </div>
        </div>
        <div class="espace">
            <div class="titreCouleur">
                Tarifs :
            </div>
            <div>
                {{ moduleFormation.prixModule | raw }}
            </div>
        </div>
        <div class="espace" style="background-color: padding: 1%">
            <div class="titreCouleur" style="color: var(--blue-color); text-align: center">
                La valeur ajoutée de nos formations :
            </div>
            <div>
                {{ moduleFormation.valeurModule | raw }}
            </div>
        </div>
    </div>
{% endblock %}