<div class="box_formation_propose">
    {% for module in modulesFormation %}
        <div class="formation_propose js-scroll fade-in-bottom">
            <div class="formation_propose_header">
                <div class="formation_propose_header_titre_2">
                    <h2>{{ module.nomModule | raw }}</h2>
                </div>
            </div>
            <div>

            </div>
            <div class="formation_propose_body">
                <div style="display: flex; justify-content: space-around; flex-direction: column">
                    <div>
                        <div class="formation_propose_titre_section">
                            <h3>Durée</h3>
                        </div>
                        <div class="formation_propose_duree">
                            <strong>{{ module.dureemodule | raw }}</strong>
                        </div>
                    </div>
                    {% if module.pourquimoduledesc is defined and module.pourquimoduledesc is not null %}
                        <div>
                            <div class="formation_propose_titre_section">
                                <h3>pour qui</h3>
                            </div>
                            <div class="formation_propose_contenu">
                                {{ module.pourquimodule | raw }}
                            </div>
                        </div>
                    {% endif %}
                    <div>
                        <div class="formation_propose_titre_section">
                            <h3>objectifs</h3>
                        </div>
                        <div class="formation_propose_contenu">
                            {{ module.objectifmodule | raw }}
                        </div>
                    </div>
                    {% if module.orgapedagomoduledesc is defined and module.orgapedagomoduledesc is not null %}
                        <div>
                            <div class="formation_propose_titre_section">
                                <h3>organisation pédagogique</h3>
                            </div>
                            <div class="formation_propose_contenu">
                                {{ module.orgapedagomoduledesc | raw }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div style="width: 100%">
                    <div class="formation_propose_informations">
                        <a href="{{ path('immobilier', {'nomModule': module.nomLienModule}) }}">Plus d'informations</a>
                    </div>
                </div>
                {#

                        {% if module.idRubriqueFormation == 1 %}
                            <a href="{{ path('module', {'nomFormation': 'immobilier', 'nomModule': module.lienModuleDesc}) }}">Plus d'informations</a>
                        {% elseif module.idRubriqueFormation == 2 %}
                            <a href="{{ path('module', {'nomFormation': 'permis-dexploitation', 'nomModule': module.lienModuleDesc}) }}">Plus d'informations</a>
                        {% elseif module.idRubriqueFormation == 3 %}
                            <a href="{{ path('module', {'nomFormation': 'micro-entreprise', 'nomModule': module.lienModuleDesc}) }}">Plus d'informations</a>
                        {% elseif module.idRubriqueFormation == 4 %}
                            <a href="{{ path('module', {'nomFormation': 'entreprise', 'nomModule': module.lienModuleDesc}) }}">Plus d'informations</a>
                        {% endif %}

                #}
            </div>
            <div class="formation_propose_footer">
                <div class="formation_propose_footer_prix">
                    <div class="formation_propose_triangle"></div>
                    <div class="formation_propose_prix">
                        <strong>{{ module.prixmodule | raw }}</strong> €*
                    </div>
                    <div class="formation_propose_inscription">
                        <a href=/inscription_formulaire>Je m'inscris</a>
                    </div>
                </div>
                {% if module.lieumoduledesc is defined and module.lieumoduledesc is not null %}
                    <div class="formation_propose_lieu">
                        <div class="formation_propose_lieu_titre">
                            LIEUX
                        </div>
                        <div>
                            {{ module.lieumoduledesc | raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>