{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% set descriptionPage = "Formations continues des professionnels de l’immobilier (Alur) pour renouveler vos cartes professionnelles d’agent immobilier et attestations d’habilitation d’agent commercial." %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formation/moduleComplet.css') }}">
{% endblock %}

{% block body %}

    <div class="container my-4">
        <div class="my-5 p-3 text-center rounded" style="background-color: {{ moduleFormation.couleurModule | raw }}">

                <h1><strong>{{ moduleFormation.nomModule | raw }}</strong></h1>

        </div>
        <div class="w-100 d-flex row row-cols-1 g-4">
            <div class="col-lg-12 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Le public visé : </h5>
                        <div class="card-text">
                            {{ moduleFormation.publicmodule | raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Les prérequis : </h5>
                        <div class="card-text">
                            {{ moduleFormation.prerequismodule| raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Les délais d'accès : </h5>
                        <div class="card-text">
                            <p>{{ moduleFormation.delaismodule | raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-sm-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Les objectifs : </h5>
                        <div class="card-text">
                            {{ moduleFormation.objectifPedagoModule | raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Les modalités pédagogiques :  </h5>
                        <div class="card-text">
                            {{ moduleFormation.modaliteModule | raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Le programme : </h5>
                        <div class="card-text">
                            {{ moduleFormation.programmeModule | raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Les lieux : </h5>
                        <div class="card-text">
                            {{ moduleFormation.lieuDetailsModule | raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-sm-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Notre valeur ajoutée : </h5>
                        <div class="card-text">
                            {{ moduleFormation.valeurModule | raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">La durée : </h5>
                        <div class="card-text">
                            <p>{{ moduleFormation.dureemodule | raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Le tarif : </h3>
                        <div class="card-text">
                            <div>
                                <p>
                                    <strong>{{ moduleFormation.prixModule | raw }} € net</strong>, TVA non applicable selon Art. 261.4.4 a du CGI.
                                </p>
                                <p>
                                    {{ moduleFormation.tarifInfoModule | raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {# <style>
        .js-scroll.fade-in-bottom:nth-child(2n + 1){
            background-color: {{ moduleFormation.couleurModule | raw }};
            color: white;
        }
    </style>
    <div class="enteteFormation">
        <div style="display: flex; justify-content: center">
            <div class="entete_1 js-scroll slide-right" style="background-color: {{ moduleFormation.couleurModule | raw }}">
                <h1><strong>{{ moduleFormation.nomModule | raw }}</strong></h1>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>Les prérequis : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    {{ moduleFormation.prerequismodule| raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>Le public visé : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    {{ moduleFormation.publicmodule | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>La durée : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    <p>{{ moduleFormation.dureemodule | raw }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>Les délais d'accès : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    <p>{{ moduleFormation.delaismodule | raw }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>Les lieux : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    {{ moduleFormation.lieuDetailsModule | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>Les objectifs : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    {{ moduleFormation.objectifPedagoModule | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>Les modalités pédagogiques : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    {{ moduleFormation.modaliteModule | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>Le programme : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    {{ moduleFormation.programmeModule | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>Le tarif : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    <p>
                        <strong>{{ moduleFormation.prixModule | raw }} € net</strong>, TVA non applicable selon Art. 261.4.4 a du CGI.
                    </p>
                    <p>
                        {{ moduleFormation.tarifInfoModule | raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 10%">
                <div>
                    <h2>Notre valeur ajoutée : </h2>
                </div>
            </div>
        </div>
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%">
                <div>
                    {{ moduleFormation.valeurModule | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="js-scroll fade-in-bottom">
        <div style="padding: 1% 0;">
            <div style="margin: 0 15%; text-align: center">
                <p>
                    {{ moduleFormation.versionModule | raw }}
                </p>
            </div>
        </div>
    </div>
    #}
    <style>
        .card{
            border-color: {{ moduleFormation.couleurModule | raw }};
        }
        .card-title{
            color: {{ moduleFormation.couleurModule | raw }};
        }
    </style>
{% endblock %}