<div class="box_formation_propose">
    {% for module in modulesFormation %}
        <div class="formation_propose js-scroll fade-in-bottom"  style="background-color: {{ module.couleurModule }}">
            <div class="formation_propose_header" style="background-color: {{ module.couleurModule }}">
                <div class="formation_propose_header_titre_2">
                    <h2>{{ module.nomModule | raw }}</h2>
                </div>
            </div>
            <div>

            </div>
            <div class="formation_propose_body">
                <div style="display: flex; justify-content: space-around; flex-direction: column">
                    <div>
                        <div class="formation_propose_titre_section" style="background-color: {{ module.couleurModule }}">
                            <h3>Durée</h3>
                        </div>
                        <div class="formation_propose_duree">
                            <strong>{{ module.dureemodule | raw }}</strong>
                        </div>
                    </div>
                    {% if module.pourquimodule is defined and module.pourquimodule is not null %}
                        <div>
                            <div class="formation_propose_titre_section" style="background-color: {{ module.couleurModule }}">
                                <h3>pour qui</h3>
                            </div>
                            <div class="formation_propose_contenu" style="color: {{ module.couleurModule }}">
                                {{ module.pourquimodule | raw }}
                            </div>
                        </div>
                    {% endif %}
                    <div>
                        <div class="formation_propose_titre_section" style="background-color: {{ module.couleurModule }}">
                            <h3>objectifs</h3>
                        </div>
                        <div class="formation_propose_contenu" style="color: {{ module.couleurModule }}">
                            {{ module.objectifmodule | raw }}
                        </div>
                    </div>
                    {% if module.organisationPedagoModule is defined and module.organisationPedagoModule is not null %}
                        <div>
                            <div class="formation_propose_titre_section" style="background-color: {{ module.couleurModule }}">
                                <h3>organisation pédagogique</h3>
                            </div>
                            <div class="formation_propose_contenu" style="color: {{ module.couleurModule }}">
                                {{ module.organisationPedagoModule | raw }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div style="width: 100%">
                    <div class="formation_propose_informations">
                        <a href="{{ path('immobilier', {'nomModule': module.nomLienModule}) }}" style="background-color: {{ module.couleurModule }}">Plus d'informations</a>
                    </div>
                </div>
            </div>
            <div class="formation_propose_footer" style="background-color: {{ module.couleurModule }}">
                <div class="formation_propose_footer_prix">
                    <div class="formation_propose_triangle"></div>
                    <div class="formation_propose_prix">
                        <strong>{{ module.prixmodule | raw }}</strong> €*
                    </div>
                    <div class="formation_propose_inscription">
                        <a href=/inscription_formulaire>Je m'inscris</a>
                    </div>
                </div>
                {% if module.lieuModule is defined and module.lieuModule is not null %}
                    <div class="formation_propose_lieu">
                        <div class="formation_propose_lieu_titre">
                            LIEUX
                        </div>
                        <div>
                            {{ module.lieuModule | raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>