<div class="container-xl container-md">
    <div class="w-100 d-flex justify-content-center row g-4 m-auto py-3">
        {% for module in modulesFormation %}
            <div class="col-xl-4  col-lg-6 col-sm-12">
                <div class="card h-100 border-0" style="border-radius: 1.5rem">
                    <div class="card-header border-0 text-center " style="background-color: {{ module.couleurModule }}">
                        <h2>{{ module.nomModule | raw }}</h2>
                    </div>
                    <div class="card-body" style="border: 3px solid {{ module.couleurModule }}">
                        <h5 class="card-title"><u>Objectifs : </u></h5>
                        <p class="card-text">{{ module.objectifmodule | raw }}</p>
                    </div>
                    <div class="card-footer border-0 text-center" style="background-color: {{ module.couleurModule }}">
                        <a href="{{ path('immobilier', {'nomModule': module.nomLienModule}) }}" class="btn btn-primary rounded-pill">
                            Plus d'informations
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>






{# <div class="box_formation_propose">
    {% for module in modulesFormation %}
        <div class="formation_propose js-scroll fade-in-bottom"  style="background-color: {{ module.couleurModule }}">
            <div class="formation_propose_header" style="background-color: {{ module.couleurModule }}">
                <div class="formation_propose_header_titre_2">
                    <h2>{{ module.nomModule | raw }}</h2>
                </div>
            </div>
            <div class="formation_propose_body">
                <div style="display: flex; justify-content: space-around; flex-direction: column">
                    {# <div>
                        <div class="formation_propose_titre_section" style="background-color: {{ module.couleurModule }}">
                            <h3>Durée</h3>
                        </div>
                        <div class="formation_propose_duree">
                            <strong>{{ module.dureemodule | raw }}</strong>
                        </div>
                    </div>
                    {% if module.pourquimodule is defined and module.pourquimodule is not null %}
                        <div>
                            <div class="formation_propose_titre_section" style="background-color: {{ module.couleurModule }}">
                                <h3>pour qui</h3>
                            </div>
                            <div class="formation_propose_contenu" style="color: {{ module.couleurModule }}">
                                {{ module.pourquimodule | raw }}
                            </div>
                        </div>
                    {% endif %}
                    <div>
                        <div class="formation_propose_titre_section" style="background-color: {{ module.couleurModule }}">
                            <h3>objectifs</h3>
                        </div>
                        <div class="formation_propose_contenu" style="color: {{ module.couleurModule }}">
                            {{ module.objectifmodule | raw }}
                        </div>
                    </div>
                    {# {% if module.organisationPedagoModule is defined and module.organisationPedagoModule is not null %}
                        <div>
                            <div class="formation_propose_titre_section" style="background-color: {{ module.couleurModule }}">
                                <h3>organisation pédagogique</h3>
                            </div>
                            <div class="formation_propose_contenu" style="color: {{ module.couleurModule }}">
                                {{ module.organisationPedagoModule | raw }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div style="width: 100%">
                    <div class="formation_propose_informations">
                        <a href="{{ path('immobilier', {'nomModule': module.nomLienModule}) }}" style="color: {{ module.couleurModule }}; border: 2px solid {{ module.couleurModule }}">Plus d'informations</a>
                    </div>
                </div>
            </div>
            <div class="formation_propose_footer" style="background-color: {{ module.couleurModule }}">
                <div class="formation_propose_footer_prix">
                    <div class="formation_propose_triangle"></div>
                    <div class="formation_propose_prix">
                        <strong>{{ module.prixmodule | raw }}</strong> €*
                    </div>
                    <div class="formation_propose_inscription">
                        <a href=/inscription_formulaire>Je m'inscris</a>
                    </div>
                </div>
                {% if module.lieuModule is defined and module.lieuModule is not null %}
                    <div class="formation_propose_lieu">
                        <div class="formation_propose_lieu_titre" style="color: {{ module.couleurModule }}; border: 2px solid {{ module.couleurModule }}">
                            LIEUX
                        </div>
                        <div>
                            {{ module.lieuModule | raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<div class="tva js-scroll fade-in-bottom">
    <em>* TVA non applicable selon Art. 261.4.4 a du CGI</em>
</div> #}