{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/actualites/actualites.css') }}">
{% endblock %}

{% set descriptionPage = "Formations continues des professionnels de l’immobilier (Alur) pour renouveler vos cartes professionnelles d’agent immobilier et attestations d’habilitation d’agent commercial." %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/actualites/actualites.js') }}"></script>
{% endblock %}

{% block body %}


    {# <div class="option_actu" id="option_actu">
        <div class="choixoption" id="tout">
            Toutes les actualités</div>
        <div class="choixoption" id="formations">
            <img srcset="{{ asset('img/png/formationRond.png') }}" src="{{ asset('img/png/formationRond.png') }}" alt="">Formations
        </div>
        <div class="choixoption" id="immo">
            <img srcset="{{ asset('img/png/immo.png') }}" src="{{ asset('img/png/immo.png') }}" alt=""> Immobilier
        </div>
        <div class="choixoption" id="pe">
            <img srcset="{{ asset('img/png/pe.png') }}" src="{{ asset('img/png/pe.png') }}" alt=""> Débit de boissons
        </div>
        <div class="choixoption" id="me">
            <img srcset="{{ asset('img/png/me.png') }}" src="{{ asset('img/png/me.png') }}" alt=""> Création d'entreprise
        </div>
    </div> #}

    <div class="pageActu">
        {# <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <div class="slide first">
                    <img src="{{ actus[0].imageactualite }}" alt="">
                </div>
                <div class="slide">
                    <img src="{{ actus[1].imageactualite }}" alt="">
                </div>
                <div class="slide">
                    <img src="{{ actus[2].imageactualite }}" alt="">
                </div>
            </div>
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
        </div> #}

        <div>
            <div>Actualités</div>
            <div></div>
        </div>

        <div class="actualites" id="actualites">

            {% for actu in actus %}
                <div class="actualite">
                    <a href="">
                        <div class="img_actu">
                            <img srcset="{{ actu.imageactualite }}" src="{{ actu.imageactualite }}" alt="{{ actu.titreactualite }}" title="{{ actu.titreactualite }}" width="100%" style="border-radius: 20px 20px 0 0">
                        </div>
                        <div class="contenuActu">
                            <div style="padding: 2% 5%">
                                <div class="actu_titre">
                                    <h2>{{ actu.titreactualite }}</h2></div>
                                <div class="publication"> {{ actu.dateactualite | date("m/d/Y") }} | {{ actu.titreactualite }}</div>
                                <div class="actu_desc"> {{ actu.descriptionactualite | slice(0, 150)}} ...</div>
                            </div>
                            <div class="lireActu">
                                Lire l'actualité
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        {% include('actualite/infoActu.html.twig') %}

    </div>



    <div class="numero_page">
        <div id="nbActuTotal" style="display: none"></div>
        <div id="left"> << </div>
        <div id="numPageBot"></div>
        <div id="right"> >> </div>
    </div>



{% endblock %}