{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/actualites/actualites.css') }}">
{% endblock %}

{% set descriptionPage = "Formations continues des professionnels de l’immobilier (Alur) pour renouveler vos cartes professionnelles d’agent immobilier et attestations d’habilitation d’agent commercial." %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="{{ asset('js/actualites/actus.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="container-lg my-3">
        <div id="carouselExampleIndicators" class="carousel slide m-auto w-75" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <div class="bg-blueC d-flex align-items-center px-2 rounded-pill">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

            </div>
            <div class="carousel-inner rounded-5">
                <div class="carousel-item active">
                    <img src="{{ actus[0].imageactualite }}" alt="{{ actus[0].titreactualite }}" title="{{ actus[0].titreactualite }}" width="100%"/>
                    <div class="carousel-caption d-none d-md-flex justify-content-center" style="bottom: 2rem">
                        <div>
                            <a class="btn btn-primary"> En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ actus[1].imageactualite }}" alt="{{ actus[1].titreactualite }}" title="{{ actus[1].titreactualite }}" width="100%">
                    <div class="carousel-caption d-none d-md-flex justify-content-center" style="bottom: 2rem">
                        <div>
                            <a class="btn btn-primary"> En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ actus[2].imageactualite }}" alt="{{ actus[2].titreactualite }}" title="{{ actus[2].titreactualite }}" width="100%">
                    <div class="carousel-caption d-none d-md-flex justify-content-center" style="bottom: 2rem">
                        <div>
                            <a class="btn btn-primary"> En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position-relative py-2">
        <div class="d-flex flex-lg-row flex-column">
            <div class="row m-auto">
                <div class="col-lg-9">
                    <div class="d-flex justify-content-between px-5">
                        <div>
                            <h1 class="color-blueC">Actualités</h1>
                        </div>
                        <div class="form-floating">
                            <select name="categorieActu" class="form-select" id="categorieActu" aria-label="Floating label select example">
                                <option value="0" selected>Toutes les actus</option>
                                <option value="Formations">Formations</option>
                                <option value="Immobilier">Immobilier</option>
                                <option value="Permis d'exploitation">Débit de boissons</option>
                                <option value="Autoentrepreneur">Création d'entreprise</option>
                            </select>
                            <label for="categorieActu">Trier par :</label>
                        </div>
                    </div>
                    <div class="row g-4 m-auto py-3 container-sm">

                        {% for actu in actus %}
                            <div class="col-xl-4 col-lg-6">
                                <div class="card h-100">
                                    <a href="" style="color: black; text-decoration: none">
                                        <img class="card-img-top" srcset="{{ actu.imageactualite }}" src="{{ actu.imageactualite }}" alt="{{ actu.titreactualite }}" title="{{ actu.titreactualite }}">
                                        <div class="card-body">
                                            <h2 class="h5 card-title">{{ actu.titreactualite }}</h2>
                                            <div class="text-center">
                                                <small class="text-muted">- {{ actu.dateactualite | date("m/d/Y") }} -</small>
                                            </div>
                                            <p class="card-text">{{ actu.descriptionactualite | slice(0, 150)}} ...</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {# <div class="actualites" id="actualites">

                        {% for actu in actus %}
                            <div class="actualite">
                                <a href="">
                                    <div class="img_actu">
                                        <img srcset="{{ actu.imageactualite }}" src="{{ actu.imageactualite }}" alt="{{ actu.titreactualite }}" title="{{ actu.titreactualite }}" width="100%" style="border-radius: 20px 20px 0 0">
                                    </div>
                                    <div class="contenuActu">
                                        <div style="padding: 2% 5%">
                                            <div class="actu_titre">
                                                <h2>{{ actu.titreactualite }}</h2></div>
                                            <div class="publication"> {{ actu.dateactualite | date("m/d/Y") }} | {{ actu.titreactualite }}</div>
                                            <div class="actu_desc"> {{ actu.descriptionactualite | slice(0, 150)}} ...</div>
                                        </div>
                                        <div class="lireActu">
                                            Lire l'actualité
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div> #}
                </div>
                <div class="col-lg-3">
                    {% include('actualite/infoActu.html.twig') %}
                </div>
            </div>
        </div>

    </div>







{% endblock %}