{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/actualites/actualites.css') }}">
{% endblock %}

{% set descriptionPage = "Formations continues des professionnels de l’immobilier (Alur) pour renouveler vos cartes professionnelles d’agent immobilier et attestations d’habilitation d’agent commercial." %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/actualites/actualites.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="affichageSlider">

    <div class="slider" id="slider">
        <div class="slides">
            <div class="slide" id="firstSlide">
                <a href="">
                    <img src="{{ actus[0].imageactualite }}" alt="{{ actus[0].titreactualite }}" title="{{ actus[0].titreactualite }}" width="">
                </a>
            </div>
            <div class="slide">
                <a href="">
                    <img src="{{ actus[1].imageactualite }}" alt="{{ actus[1].titreactualite }}" title="{{ actus[1].titreactualite }}">
                </a>
            </div>
            <div class="slide">
                <a href="">
                    <img src="{{ actus[2].imageactualite }}" alt="{{ actus[2].titreactualite }}" title="{{ actus[2].titreactualite }}">
                </a>
            </div>
        </div>
        <div class="navigation-manual">
            <div class="dispositionBtnCarousel">
                <div class="manual-btn selected" id="auto-btn0"></div>
                <div class="manual-btn notSelected" id="auto-btn1"></div>
                <div class="manual-btn notSelected" id="auto-btn2"></div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        let count = 0;
        let countBefore = 2;

        function carousel(){
            document.getElementById("firstSlide").style.marginLeft = "-" + (count * 25) + "%";
            document.getElementById("auto-btn" + count).classList.add("selected")
            document.getElementById("auto-btn" + count).classList.remove("notSelected")
            document.getElementById("auto-btn" + countBefore).classList.add("notSelected")
            document.getElementById("auto-btn" + countBefore).classList.remove("selected")
            countBefore = count;
            count++;
            if(count > 2 ) count = 0;

        }

        function updateInterval(radio){
            clearInterval(move);
            count = radio;
            move = setInterval(carousel, 5000);
        }

        carousel();
        let move = setInterval(carousel, 5000);

    </script>


    <div class="pageActu">

        <div class="contenuPage">
            <div class="flexFive">
                <div class="choixoption">
                    <div><h1>Actualités</h1></div>
                    <div>
                        <label for="categorieActu">Trier par :</label>
                        <select id="categorieActu">
                            <option value="0" selected>Toutes les actus</option>
                            <option value="1">Formations</option>
                            <option value="2">Immobilier</option>
                            <option value="3">Débit de boissons</option>
                            <option value="4">Création d'entreprise</option>
                        </select>

                    </div>
                </div>
                <div class="actualites" id="actualites">

                    {% for actu in actus %}
                        <div class="actualite">
                            <a href="">
                                <div class="img_actu">
                                    <img srcset="{{ actu.imageactualite }}" src="{{ actu.imageactualite }}" alt="{{ actu.titreactualite }}" title="{{ actu.titreactualite }}" width="100%" style="border-radius: 20px 20px 0 0">
                                </div>
                                <div class="contenuActu">
                                    <div style="padding: 2% 5%">
                                        <div class="actu_titre">
                                            <h2>{{ actu.titreactualite }}</h2></div>
                                        <div class="publication"> {{ actu.dateactualite | date("m/d/Y") }} | {{ actu.titreactualite }}</div>
                                        <div class="actu_desc"> {{ actu.descriptionactualite | slice(0, 150)}} ...</div>
                                    </div>
                                    <div class="lireActu">
                                        Lire l'actualité
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="numero_page">
                    <div id="nbActuTotal" style="display: none"></div>
                    <div id="left"> << </div>
                    <div id="numPageBot"></div>
                    <div id="right"> >> </div>
                </div>
            </div>
            <div id="infos" class="flexOne">
                {% include('actualite/infoActu.html.twig') %}
            </div>
        </div>

    </div>







{% endblock %}