{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Formations continue des professionnels de l'immobilier {% endblock %}

{% block stylesheets %} {{ parent() }} <link rel="stylesheet" href="{{ asset('css/entreprise/montpellier.css') }}"> {% endblock %}

{% block body %}

    <div id="montpellier" class="mtp">
        <img srcset="{{ asset('img/png/montpellier/img-bg-mtp1.png') }}" src="{{ asset('img/png/montpellier/img-bg-mtp1.png') }}" alt="">
        <div id="img1">
            <img srcset="{{ asset('img/png/montpellier/img1-mtp.png') }}" src="{{ asset('img/png/montpellier/img1-mtp.png') }}" alt="">
        </div>
        <div id="img2">
            <img srcset="{{ asset('img/png/montpellier/img2-mtp.png') }}" src="{{ asset('img/png/montpellier/img2-mtp.png') }}" alt="">
        </div>
        <div id="img3">
            <img srcset="{{ asset('img/png/montpellier/img3-mtp.png') }}" src="{{ asset('img/png/montpellier/img3-mtp.png') }}" alt="">
        </div>
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.625554233634!2d3.8532194157225628!3d43.635151861615185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6aedb5554e3c1%3A0x27cff4f25100d615!2s501%20Avenue%20d&#39;Occitanie%2C%2034090%20Montpellier!5e0!3m2!1sfr!2sfr!4v1619075461082!5m2!1sfr!2sfr" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="emplacement">
            501, avenue d'Occitanie, 34090 Montpellier
        </div>
    </div>

{% endblock %}