{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Formations professionnelles pour adultes {% endblock %}

{% block stylesheets %} {{ parent() }} <link rel="stylesheet" href="{{ asset('css/accueil/accueil.css') }}"> {% endblock %}

{% block body %}

    <div class="entete">
        <div class="datadoc js-scroll slide-right">
            <img srcset="{{ asset('img/png/datadoc.png') }}" src="{{ asset('img/png/datadoc.png') }}" alt="datadoc">
        </div>
        <div class="entete_1 js-scroll slide-right">
            <h1>
                <span><strong>Pro'Perform, </strong></span><span>le partenaire</span><br><span>de votre progression profesionnelle</span>
            </h1>
        </div>
        <div class="entete_bot">
            <div>Engagée depuis plus de 10 dans le secteur de la formation, Pro’Perform propose des formations qualifiées et qualifiantes afin de répondre à vos besoins d’évolution professionnelle.</div>
        </div>
    </div>
    <div class="formations containerFcenterRow js-scroll fade-in-bottom">
        <div class="formation flexOne">
            <div class="image_formation flexOne">
                <img srcset="{{ asset('img/png/immo.png') }}" src="{{ asset('img/png/immo.png') }}" alt="immobilier">
            </div>
            <div class="text_formation">
                <strong>Immobilier</strong>
            </div>
            <div class="bouton_formation">
                <a href="{{ path('formation', {'nomFormation': 'immobilier'}) }}">Découvrir la formation</a>
            </div>
        </div>
        <div class="formation flexOne">
            <div class="image_formation flexOne">
                <img srcset="{{ asset('img/png/pe.png') }}" src="{{ asset('img/png/pe.png') }}" alt="permis-exploitation">
            </div>
            <div class="text_formation">
                <strong>Permis d'exploitation</strong>
            </div>
            <div class="bouton_formation">
                <a href="{{ path('formation', {'nomFormation': 'permis-dexploitation'}) }}">Découvrir la formation</a>
            </div>
        </div>
        <div class="formation flexOne">
            <div class="image_formation flexOne">
                <img srcset="{{ asset('img/png/me.png') }}" src="{{ asset('img/png/me.png') }}" alt="micro-entreprise">
            </div>
            <div class="text_formation">
                <strong>Auto-Entrepreneur</strong>
            </div>
            <div class=" bouton_formation">
                <a href="{{ path('formation', {'nomFormation': 'micro-entreprise'}) }}">Découvrir la formation</a>
            </div>
        </div>
        <!--<div class="formation flexOne">
            <div class="image_formation flexOne">
                <img srcset="{{ asset('img/png/entreprise.png') }}" src="{{ asset('img/png/entreprise.png') }}" alt="micro-entreprise">
            </div>
            <div class="text_formation">
                <strong>Entreprise</strong>
            </div>
            <div class="bouton_formation">
                <a href="{{ path('formation', {'nomFormation': 'entreprise'}) }}">Découvrir la formation</a>
            </div>
        </div>-->
    </div>
    <div class="atouts js-scroll fade-in-bottom">
        <div class="titre_grand">
            Les atouts Pro'Perform
        </div>
        <div class="atout_liste">
            <ul>
                <li> Des formations professionnelles reconnues ; </li>
                <li> Une équipe de formateurs diplômés et expérimentés ; </li>
                <li> Des formations interactives avec des exercices pratiques ;</li>
                <li> Une structure homologuée par un numéro de déclaration d’activité délivré par la DREETS OCCITANIE ; </li>
                <li> Des formations validées par un agrément préfectoral pour délivrer le permis d’exploitation d’un débit de boissons. </li>
            </ul>
        </div>
    </div>
    <div class="confiance js-scroll fade-in-bottom">
        <div class="titre_grand">
            Ils nous ont fait confiance
        </div>
        <div class="avis">
            <a href="https://www.google.com/search?q=Pro%27Perform&rlz=1C1CHBF_frFR875FR875&oq=properform&aqs=chrome.0.69i59l2j69i60l4.2609j0j7&sourceid=chrome&ie=UTF-8#lrd=0x12b6af0587b109c5:0x4868f8a6f7e9c0d6,1,,,">Voir tous les avis</a>
        </div>
    </div>
    <div class="contact_organisme js-scroll fade-in-bottom">
        <div class="flexOne organisme">
            <div class="organisme_texte">
                Notre organisme est agréé <br> au titre de l'article L. 3332-1-1 <br> du Code de la santé publique <br> par un arrêté préfectoral N°2021-03-BPPA. <br> <a href="/documents/AP_N°_2021-03-BPPA_d'agrement_dun_organisme_de_formation_Ste_PRO'PERFORM_2021-03-03.pdf#toolbar=0"><u id="arretPrefectoral_1">Arrété préfectoral</u></a> <br>
            </div>
            <div>
                <img srcset="{{ asset('img/png/prefet.png') }}" src="{{ asset('img/png/prefet.png') }}" alt="prefet">
            </div>
        </div>
        <div class="flexOne bot_contact">
            <div>
                CONTACT
            </div>
            <div>
                Pour toute demande de renseignements, n'hésitez pas à <a href="/contact"> <strong><u id="page_contact">nous contacter</u></strong></a>
            </div>
            <div>
                <em>Nous vous garantissons un délai maximum de 15 jours entre votre demande d'inscription et le début de votre formation.</em>
            </div>
        </div>
    </div>

{% endblock %}
