{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Formations professionnelles pour adultes aux meilleurs prix{% endblock %}

{% set descriptionPage = "Formations professionnelles pour adultes : droit immobilier (Alur), permis d’exploitation (débits de boissons et restaurants), auto-entrepreneurs (création de micro-entreprise)." %}

{% block stylesheets %} {{ parent() }} <link rel="stylesheet" href="{{ asset('css/accueil/accueil.css') }}"> {% endblock %}

{% block body %}

    <div class="enteteAccueil">
        <div style="display: flex; justify-content: flex-start">
            <div class="certification js-scroll slide-right">

                <div class="flexTwo" style="display: flex; align-items: flex-start; flex-direction: column; margin: 1% 3%">
                    <div>
                        <img srcset="{{ asset('img/accueil/logoQualiopi-300dpi-Avec Marianne.png') }}" src="{{ asset('img/accueil/logoQualiopi-300dpi-Avec Marianne.png') }}" alt="datadoc" width="243" height="130">
                    </div>
                    <div style="font-size: 16px; text-align: justify">
                        <div>La certification qualité a été délivré au titre de la catégorie d'action suivante : </div>
                        <div style="text-transform: uppercase"><strong>actions de formation</strong></div>
                    </div>
                </div>
                <div class="flexOne" style="display: flex; align-items: center; margin: 1% 3%">
                    <img srcset="{{ asset('img/accueil/datadoc.png') }}" src="{{ asset('img/accueil/datadoc.png') }}" alt="datadoc" width="130" height="130">
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end; width: 100%">
            <div class="entete_1 js-scroll slide-right">
                <div><h1><strong><span>Pro'</span>Perform, </strong></h1> <span>le partenaire</span> </div>
                <div style="">
                    de votre progression profesionnelle
                </div>
            </div>
        </div>
        <div>
            <div class="entete_bot">
                <div>
                    <p>
                        Engagée depuis plus de 10 dans le secteur de la formation, Pro’Perform propose des formations qualifiées et qualifiantes afin de répondre à vos besoins d’évolution professionnelle.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0;">
        <div class="formations js-scroll fade-in-bottom">
            <div class="formation">
                <a href="{{ path('formation', {'nomFormation': 'immobilier'}) }}">
                    <div class="image_formation">
                        <img srcset="{{ asset('img/accueil/agentCommerceImmo.png') }}" src="{{ asset('img/accueil/agentCommerceImmo.png') }}" alt="immobilier">
                    </div>
                    <div class="text_formation">
                        <strong>Immobilier</strong>
                    </div>
                    <div class="bouton_formation">
                        <div>Découvrir la formation</div>
                    </div>
                </a>
            </div>
            <div class="formation">
                <a href="{{ path('formation', {'nomFormation': 'permis-dexploitation'}) }}">
                    <div class="image_formation">
                        <img srcset="{{ asset('img/accueil/permisExploitation.png') }}" src="{{ asset('img/accueil/permisExploitation.png') }}" alt="permis-exploitation">
                    </div>
                    <div class="text_formation">
                        <strong>Permis d'exploitation</strong>
                    </div>
                    <div class="bouton_formation">
                        <div>Découvrir la formation</div>
                    </div>
                </a>
            </div>
            <div class="formation">
                <a href="{{ path('formation', {'nomFormation': 'micro-entreprise'}) }}">
                    <div class="image_formation">
                        <img srcset="{{ asset('img/accueil/microentreprise.png') }}" src="{{ asset('img/accueil/microentreprise.png') }}" alt="micro-entreprise">
                    </div>
                    <div class="text_formation">
                        <strong>Auto-Entrepreneur</strong>
                    </div>
                    <div class="bouton_formation">
                        <div>Découvrir la formation</div>
                    </div>
                </a>

            </div>
            <div class="formation">
                <a href="{{ path('formation', {'nomFormation': 'entreprise'}) }}">
                    <div class="image_formation flexOne">
                        <img srcset="{{ asset('img/png/entreprise.png') }}" src="{{ asset('img/png/entreprise.png') }}" alt="micro-entreprise">
                    </div>
                    <div class="text_formation">
                        <strong>Entreprise</strong>
                    </div>
                    <div class="bouton_formation">
                        <div>Découvrir la formation</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0; background-color: var(--blue-color)"  class="js-scroll fade-in-bottom">
        <div style="margin: 0 10%">
            <div style="color: white">
                <div class="titre_grand">
                    Les atouts Pro'Perform
                </div>
                <div class="atout_liste">
                    <ul>
                        <li> Des formations professionnelles reconnues ; </li>
                        <li> Une équipe de formateurs diplômés et expérimentés ; </li>
                        <li> Des formations interactives avec des exercices pratiques ;</li>
                        <li> Une structure homologuée par un numéro de déclaration d’activité délivré par la DREETS OCCITANIE ; </li>
                        <li> Des formations validées par un agrément préfectoral pour délivrer le permis d’exploitation d’un débit de boissons. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0;" class="confiance js-scroll fade-in-bottom">
        <div style="margin: 0 10%">
            <div class="titre_grand">
                Ils nous ont fait confiance
            </div>
            <div class="avis">
                <a href="https://www.google.com/search?q=Pro%27Perform&rlz=1C1CHBF_frFR875FR875&oq=properform&aqs=chrome.0.69i59l2j69i60l4.2609j0j7&sourceid=chrome&ie=UTF-8#lrd=0x12b6af0587b109c5:0x4868f8a6f7e9c0d6,1,,,">Voir tous les avis</a>
            </div>
        </div>
    </div>
    {% include 'formation/contactBasDetail.html.twig' %}
{% endblock %}
