{% extends 'base.html.twig' %}

{% block title %}
    Centre de formation professionnelle pour adultes à
    {{ parent() }}
{% endblock %}

{% set descriptionPage = "Formations professionnelles pour adultes : droit immobilier (Alur), permis d’exploitation (débits de boissons et restaurants), auto-entrepreneurs (création de micro-entreprise)." %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil/accueil.css') }}">
{% endblock %}

{% block body %}

    <div class="bg-image-entete" style="background-image: url('{{ asset('img/accueil/equipe_frise_retourne.png') }}')">
        <div class="p-5 js-scroll slide-right">
            <div class="py-5">
                <h1><span>Des formations professionnelles</span> <br> <span>continues et sur-mesure</span></h1>
            </div>
        </div>
        <div class="container">
            <div class="mt-5 pt-4 h5">
                <p>
                    <strong>Engagée depuis plus de 10 ans dans le secteur de la formation, Pro’Perform propose des formations qualifiées et qualifiantes afin de répondre à vos besoins spécifiques d’évolution professionnelle.</strong>
                </p>
            </div>
        </div>
        <div class="js-scroll fade-in-bottom py-5">
            <div class="text-center color-blueC">
                <h2><strong>Nos formations</strong></h2>
            </div>
            <div class="w-100 m-auto position-relative d-flex flex-row flex-wrap justify-content-center align-items-center text-center">
                {% for formation in formations %}
                    <div class="formationAccueil m-3 d-flex flex-column position-relative rounded-circle">
                        <a class="d-block rounded-circle overflow-hidden border border-2" href="{{ path(formation.pathFormation) }}" title="Voir nos formations Immobilier" style="border-color: {{ formation.colorFormation }} !important; color: {{ formation.colorFormation }}">
                            <div class="m-0 h-100 d-flex justify-content-center align-items-center">
                                <img srcset="{{ asset('img/formation/' ~ formation.pathFormation ~ '/' ~ formation.vignetteFormation) }}" src="{{ asset('img/formation/' ~ formation.pathFormation ~ '/' ~ formation.vignetteFormation) }}" alt="immobilier" width="100%" height="100%">
                            </div>
                            <div class="position-absolute d-flex align-items-center justify-content-center w-100 py-1" style="background-color: white; top: 70%">
                                <h3 class="h3 m-auto">{{ formation.nomFormation }}</h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {# <div class="formation m-3 d-flex flex-column position-relative rounded-circle">
                    <a class="d-block rounded-circle overflow-hidden" href="{{ path('immobilier') }}" title="Voir nos formations Immobilier">
                        <div class="m-0 h-100 d-flex justify-content-center align-items-center">
                            <img srcset="{{ asset('img/accueil/agentCommerceImmo.png') }}" src="{{ asset('img/accueil/agentCommerceImmo.png') }}" alt="immobilier" width="100%" height="100%">
                        </div>
                        <div class="position-absolute d-flex align-items-center justify-content-center w-100 py-1" style="background-color: white; top: 70%">
                            <h3 class="h3 m-auto">Immobilier</h3>
                        </div>
                    </a>
                </div>
                <div class="formation m-3 d-flex flex-column position-relative rounded-circle">
                    <a class="d-block rounded-circle overflow-hidden" href="{{ path('permisExploitation') }}" title="Voir nos formation Permis d'exploitation">
                        <div class="m-0 h-100 d-flex justify-content-center align-items-center">
                            <img srcset="{{ asset('img/accueil/permisExploitation.png') }}" src="{{ asset('img/accueil/permisExploitation.png') }}" alt="permis-exploitation" width="100%" height="100%">
                        </div>
                        <div class="position-absolute d-flex align-items-center justify-content-center w-100 py-1" style="background-color: white; top: 70%">
                            <h3 class="h3 m-auto">Permis d'exploitation</h3>
                        </div>
                    </a>
                </div>
                <div class="formation m-3 d-flex flex-column position-relative rounded-circle">
                    <a class="d-block rounded-circle overflow-hidden" href="{{ path('autoentrepreneur') }}" title="Voir nos informations Autoentrepreneur">
                        <div class="m-0 h-100 d-flex justify-content-center align-items-center">
                            <img srcset="{{ asset('img/accueil/microentreprise.png') }}" src="{{ asset('img/accueil/microentreprise.png') }}" alt="micro-entreprise" width="100%" height="100%">
                        </div>
                        <div class="position-absolute d-flex align-items-center justify-content-center w-100 py-1" style="background-color: white; top: 70%">
                            <h3 class="h3 m-auto">Autoentrepreneur</h3>
                        </div>
                    </a>
                </div>
                <div class="formation m-3 d-flex flex-column position-relative rounded-circle">
                    <a class="d-block rounded-circle overflow-hidden" href="{{ path('entreprise') }}" title="Voir nos formations Entreprise">
                        <div class="m-0 h-100 d-flex justify-content-center align-items-center">
                            <img srcset="{{ asset('img/png/entreprise.png') }}" src="{{ asset('img/png/entreprise.png') }}" alt="micro-entreprise" width="100%" height="100%">
                        </div>
                        <div class="position-absolute d-flex align-items-center justify-content-center w-100 py-1" style="background-color: white; top: 70%">
                            <h3 class="h3 m-auto">Entreprise</h3>
                        </div>
                    </a>
                </div> #}
            </div>
        </div>
        <div class="js-scroll fade-in-bottom py-5 bg-blueC">
            <div class="container-lg color-whiteC">
                <div class="text-center pb-2 m-auto">
                    <h2><strong>Les atouts Pro'Perform</strong></h2>
                </div>
                <div class="d-flex atout-liste-accueil w-100 px-lg-5 m-auto">
                    <ul class="w-100 px-lg-5">
                        <li> Des formations professionnelles reconnues ; </li>
                        <li> Une équipe de formateurs diplômés et expérimentés ; </li>
                        <li> Des formations interactives avec des exercices pratiques ;</li>
                        <li> Une structure homologuée par un numéro de déclaration d’activité délivré par la DREETS OCCITANIE ; </li>
                        <li> Des formations validées par un agrément préfectoral pour délivrer le permis d’exploitation d’un débit de boissons. </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="js-scroll fade-in-bottom py-5">
            <div class="container">
                <div class="text-center pb-2">
                    <h2 class="color-blueC"><strong>Ils nous ont fait confiance</strong></h2>
                </div>
                <div class="avis">
                    <a href="https://www.google.com/search?q=Pro%27Perform&rlz=1C1CHBF_frFR875FR875&oq=properform&aqs=chrome.0.69i59l2j69i60l4.2609j0j7&sourceid=chrome&ie=UTF-8#lrd=0x12b6af0587b109c5:0x4868f8a6f7e9c0d6,1,,,">Voir tous les avis</a>
                </div>
            </div>
        </div>
        {% include 'formation/contactBasDetail.html.twig' %}
    </div>
{% endblock %}
