{% extends 'base.html.twig' %}

{% block title %}Administration du site{% endblock %}

{% block stylesheets %} {{ parent() }} <link rel="stylesheet" href="{{ asset('css/utilisateur/contact.css') }}"> {% endblock %}

{% block body %}

    <div class="contact_titre">
        CONTACT
    </div>
    <div>
        <div class="contact_coord_titre">
            Nos coordonnées
        </div>
        <div class="contact_coord_texte">
            <p><strong>Adresse : </strong> 501, avenue d’Occitanie, 34090 Montpellier </p>
            <p><strong>Téléphone : </strong> <u><a href="tel:0671867954"> 06 71 86 79 54 </a></u> </p>
            <p><strong>Adresse mail : </strong> <u><a href="mailto:contact@pro-perfrom.fr">contact@pro-perform.fr</a></u></p>
        </div>
    </div>
    <div class="formulaire">
        <div class="contact_formulaire_titre">
            Formulaire de contact
        </div>
        {{ form_start(my_form) }}
        {{ form_errors(my_form) }}
            <div class="containerFcenterCol">
                <div class="contact_formulaire_contenu">
                    <div class="contact_formulaire_input flexEight">
                        <div>
                            {{ form_label(my_form.prenomC) }}
                            {{ form_widget(my_form.prenomC) }}
                            {{ form_errors(my_form.prenomC) }}
                        </div>
                        <div>
                            {{ form_label(my_form.nomC) }}
                            {{ form_widget(my_form.nomC) }}
                            {{ form_errors(my_form.nomC) }}
                        </div>
                        <div>
                            {{ form_label(my_form.mailC) }}
                            {{ form_widget(my_form.mailC) }}
                            {{ form_errors(my_form.mailC) }}
                        </div>
                        <div>
                            {{ form_label(my_form.optionC) }}
                            {{ form_widget(my_form.optionC) }}
                            {{ form_errors(my_form.optionC) }}
                        </div>
                        <!--<div>
                            <label>
                                <select name="formation" class="formation_liste_choix" required>
                                    <option value="">Selectionner une option... </option>
                                    <option value="Immobilier_Transaction">Immobilier - Transaction</option>
                                    <option value="Immobilier_Gestion_locative">Immobilier - Gestion locative</option>
                                    <option value="Immobilier_Déontologie,_Discrimination">Immobilier - Déontologie, Discrimination</option>
                                    <option value="Immobilier_Actualités_juridiques,_Transaction">Immobilier - Actualités juridiques, Transaction</option>
                                    <option value="Immobilier_Actualités_juridiques,_Gestion_locative">Immobilier - Actualités juridiques, Gestion locative</option>
                                    <option value="Immobilier_RGPD,_TRACFIN">Immobilier - RGPD, TRACFIN</option>
                                    <option value="Immobilier_Autre">Immobilier - Autre</option>
                                    <option value="Permis_d'exploitation_initial">Permis d'exploitation - Initial</option>
                                    <option value="Permis_d'exploitation_renouvellement">Permis d'exploitation - Renouvellement</option>
                                    <option value="Permis_d'exploitation_chambre_d'hôtes">Permis d'exploitation - Chambre d'hôtes</option>
                                    <option value="Permis_d'exploitation_Autre">Permis d'exploitation - Autre</option>
                                    <option value="Micro-entreprise_Créer_sa_micro-entreprise_ACCOMPAGNE">Micro-entreprise - Créer sa micro-entreprise ACCOMPAGNE</option>
                                    <option value="Micro-entreprise_Créer_sa_micro-entreprise_EN_LIGNE">Micro-entreprise - Créer sa micro-entreprise EN LIGNE</option>
                                    <option value="Micro-entreprise_Autre">Micro-entreprise - Autre</option>
                                    <option value="Autre">Autre</option>
                                </select>
                            </label>
                        </div>-->
                        <div>
                            {{ form_label(my_form.objetC) }}
                            {{ form_widget(my_form.objetC) }}
                            {{ form_errors(my_form.objetC) }}
                        </div>
                        <div>
                            {{ form_label(my_form.messageC) }}
                            {{ form_widget(my_form.messageC) }}
                            {{ form_errors(my_form.messageC) }}
                        </div>
                    </div>
                </div>
                <div class="contact_formulaire_champ">
                    <em>* champs obligatoires</em>
                </div>
                <div class="copie_utilisateur">
                    {{ form_widget(my_form.copieC) }}
                    {{ form_label(my_form.copieC) }}
                    {{ form_errors(my_form.copieC) }}
                    <br>
                    {{ form_widget(my_form.cgvC) | raw }}
                    {{ form_label(my_form.cgvC) | raw }}
                    {{ form_errors(my_form.cgvC) }}
                </div>
                <div class="envoyer">
                    <input type="hidden" id="recaptchaRep" name="recaptcha-Rep">
                    {{ form_label(my_form.envoyerC) }}
                    {{ form_widget(my_form.envoyerC) }}
                </div>
            </div>
        {{ form_end(my_form) }}
        <script src="https://www.google.com/recaptcha/api.js?render=6Lf2VKEaAAAAAH3aK6QGI_2tyDV75KTFCW5FwmsW"></script>
        <script>
            function onClick(e) {
                e.preventDefault();
                grecaptcha.ready(function() {
                    grecaptcha.execute('6Lf2VKEaAAAAAH3aK6QGI_2tyDV75KTFCW5FwmsW', {action: 'submit'}).then(function(token) {
                        document.getElementById("recaptchaRep").value=token
                        // Add your logic to submit to your backend server here.
                    });
                });
            }
        </script>
    </div>
{% endblock %}