<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pro'Perform Montpellier/Nîmes - {% endblock %}</title>

        <meta name="author" content="Pro'Perform">
        <meta name="google-site-verification" content="6XCjLEfqfJZKypasVxeNfO29pnHSBc5bnLbeMo7lX8o" />

        {% block partage %}

            <meta property="og:type" content="article">
            <meta property="og:site_name" content="www.pro-perform.fr">
            <meta property="fb:app_id" content="943527419818231">
            {# <meta property="og:title" content="'. $tab->titreActualite .'">
                    <meta property="og:description" content="'. $tab->descriptionActualite .'">
                    <meta property="og:url" content="https://www.pro-perform.fr/actualite/n°'. $tab->idActualite .'">
                    <meta property="og:image" content="https://www.pro-perform.fr'. $img[0] .'"> #}

        {% endblock %}

        {# Run `composer require symfony/webpack-encore-bundle`and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="{{ asset('css/header.css') }}">
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}">

        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script defer src="{{ asset('js/base.js') }}"></script>
            <script defer src="{{ asset('js/header.js') }}"></script>
            <script defer src="{{ asset('js/ajax.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            {% include 'header.html.twig' %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include 'footer.html.twig' %}
        </footer>
    </body>
</html>
