<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Montpellier - Pro'Perform{% endblock %}</title>

        <meta name="author" content="Pro'Perform">
        <meta name="description" content="{{ descriptionPage }}">
        <meta name="google-site-verification" content="6XCjLEfqfJZKypasVxeNfO29pnHSBc5bnLbeMo7lX8o" />

        <link href="{{ asset('img/header/logo-onglet.png') }}" rel="icon" type="image/x-icon" />

        {% block partage %}

            <meta property="og:type" content="article">
            <meta property="og:site_name" content="www.pro-perform.fr">
            <meta property="fb:app_id" content="943527419818231">
            {# <meta property="og:title" content="'. $tab->titreActualite .'">
                    <meta property="og:description" content="'. $tab->descriptionActualite .'">
                    <meta property="og:url" content="https://www.pro-perform.fr/actualite/n°'. $tab->idActualite .'">
                    <meta property="og:image" content="https://www.pro-perform.fr'. $img[0] .'"> #}

        {% endblock %}

        {# Run `composer require symfony/webpack-encore-bundle`and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="{{ asset('css/header.css') }}">
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
            <script defer src="{{ asset('js/base.js') }}"></script>
            <script defer src="{{ asset('js/header.js') }}"></script>
            <script defer src="{{ asset('js/ajax.js') }}"></script>
        {% endblock %}
    </head>
    <body id="body_view">
            {% include 'header2.html.twig' %}
        <main id="main">
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include 'footer.html.twig' %}
        </footer>
    </body>
</html>
