
<div class="footer">
    <div>
        <a href="{# {{ path('planDuSite') }} #}">Plan du site</a>
    </div>
    <div>
       <a href="{# {{ path('reglement') }} #}">Réglement intérieur</a>
    </div>
    <div>
        <a href="{# {{ path('mentionLegales') }} #}">Mentions légales</a>
    </div>
    <div>
       <a href="{# {{ path('cgv') }} #}">Conditions générales de vente</a>
    </div>
    <div>
        <a href="{# {{ path('politiquesConfiden') }} #}">Politique de confidentialité</a>
    </div>
</div>
